.tbl{
  padding: 20px;

  .my_ads{
    width: 100%;

    a{
      text-decoration: none;
      color: $font-color;

      &:hover{
        color: $main-color;
      }
    }

    td{
      border: 1px solid #ededed;
    }
  }
}